body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.slider {
    display: flex;
    align-items: center;
    position: relative;
    height: 10px;
    width: 400px;
    background-color: greenyellow;
    border-radius: 10px;
}

.slider-fixed {
    display: flex;
    align-items: center;
    position: relative;
    height: 10px;
    width: 400px;
    background-color: orange;
    border-radius: 10px;
}

.dividers {
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
        margin-top: 50px;
        width: 0;
        display: flex;
        justify-content: center;
        user-select: none;
    }
}

.dot {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: translateX(-50%);
    height: 20px;
    width: 20px;
    background-color: lightgray;
    border-radius: 50%;
    outline: 0px lightgray solid;
    cursor: pointer;

    p {
        margin-top: 25px;
        user-select: none;
    }
}

.dot:hover {
    outline-width: 5px;
}
