@keyframes carMover {
    from {
        position: absolute;
        left: -300px;
    }
    to {
        position: absolute;
        left: calc(100% - 200px - 50px);
    }
}

.car {
    width: fit-content;
    height: 100px;
    animation-name: carMover;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /* border: 2px dashed black; */
}

.car-roof {
    position: relative;
    width: 150px;
    height: 100px;
    background-color: blueviolet;
    top: 50px;
    left: 25px;
}

.car-body {
    width: 200px;
    height: 50px;
    background-color: blueviolet;
}

.wheel {
    position: relative;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-color: gray;
}

.wheel-left {
    top: -25px;
    left: 25px;
}

.wheel-right {
    top: -75px;
    left: calc(100% - 75px);
}
