.main-div {
    width: 350px;
    height: fit-content;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 20px 20px;
    background-color: white;
}

.gradient-div {
    background: linear-gradient(
        45deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 50%,
        rgba(252, 176, 69, 1) 100%
    );
    width: 350px;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    margin-left: 0px;
}

.main-div p {
    padding-left: 20px;
}

.item-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: gray;
}

.item-name {
    font-size: 32px;
    font-weight: bold;
}

.item-desc {
    font-size: 20px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.item-price {
    margin-bottom: 0;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.buy-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-left: 20px;
    padding: 20px 40px;
    background: linear-gradient(
        45deg,
        rgba(58, 117, 180, 1) 0%,
        rgba(156, 29, 253, 1) 50%,
        rgba(231, 69, 252, 1) 100%
    );
    width: 145px;
    height: 20px;
    border-radius: 100px;
}

.subtext {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    margin: 0px;
    padding: 10px 20px;
}

.under-div {
    background-color: gray;
    padding: 10px;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bold;
}
