body {
    background-color: #222;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1000px;
    height: 500px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1fr, 16);
    grid-template-rows: repeat(1fr, 8);
    grid-template-areas:
        "w1 w1 w1 w1 w2 w2 w2 w2 m1 m1 s1 s2 w3 w3 w3 w3"
        "w1 w1 w1 w1 w2 w2 w2 w2 m1 m1 s3 s4 w3 w3 w3 w3"
        "w4 w4 w4 w4 m2 m2 m3 m3 b1 b1 b1 b1 m4 m4 m5 m5"
        "w4 w4 w4 w4 m2 m2 m3 m3 b1 b1 b1 b1 m4 m4 m5 m5"
        "b2 b2 b2 b2 w5 w5 w5 w5 b1 b1 b1 b1 w6 w6 w6 w6"
        "b2 b2 b2 b2 w5 w5 w5 w5 b1 b1 b1 b1 w6 w6 w6 w6"
        "b2 b2 b2 b2 m6 m6 s5 s6 w7 w7 w7 w7 w8 w8 w8 w8"
        "b2 b2 b2 b2 m6 m6 s7 s8 w7 w7 w7 w7 w8 w8 w8 w8";
}

.block {
    background-color: white;
    width: 100%;
    height: 100%;
}

.small {
    background-color: #00cc00;
}

.mid {
    background-color: #ffcc00;
}

.big {
    background-color: #ff3300;
}

.wide {
    background-color: #0066cc;
}

.s1 {
    grid-area: s1;
}

.s2 {
    grid-area: s2;
}

.s3 {
    grid-area: s3;
}

.s4 {
    grid-area: s4;
}

.s5 {
    grid-area: s5;
}

.s6 {
    grid-area: s6;
}

.s7 {
    grid-area: s7;
}

.s8 {
    grid-area: s8;
}

.m1 {
    grid-area: m1;
}

.m2 {
    grid-area: m2;
}

.m3 {
    grid-area: m3;
}

.m4 {
    grid-area: m4;
}

.m5 {
    grid-area: m5;
}

.m6 {
    grid-area: m6;
}

.b1 {
    grid-area: b1;
}

.b2 {
    grid-area: b2;
}

.w1 {
    grid-area: w1;
}

.w2 {
    grid-area: w2;
}

.w3 {
    grid-area: w3;
}

.w4 {
    grid-area: w4;
}

.w5 {
    grid-area: w5;
}

.w6 {
    grid-area: w6;
}

.w7 {
    grid-area: w7;
}

.w8 {
    grid-area: w8;
}
