body {
    background-image: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/1f33596e29405333bdbf2bb0/hgghgh-min1.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0px;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

footer {
    font-family: sans-serif;
    background-color: #333333;
    height: 100%;
    width: 100%;
    padding: 32px 0px;
    text-align: center;
    color: white;
}

.title {
    color: white;
    font-family: sans-serif;
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin: 50px;
}

.card-wrapper {
    height: fit-content;
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    background-color: white;
    height: fit-content;
    width: calc((100% - (24px * 2) - (20px * 6)) / 3);
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;
}

h2 {
    color: #f1c50e;
    font-family: sans-serif;
    font-size: 60px;
    margin: 0px;
}

p {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.6;
}

.learn-more {
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px 0px 0px;
    text-decoration: underline;
    text-decoration-color: #f1c50e;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

@media screen and (max-width: 1140px) {
    .card-wrapper {
        width: 700px;
    }

    .card {
        width: calc((100% - 24px - (20px * 4)) / 2);
    }
}

@media screen and (max-width: 820px) {
    .title {
        font-size: 30px;
    }

    .card-wrapper {
        width: 400px;
    }

    .card {
        width: calc(100% - (20px * 2));
    }
}
